@keyframes gradualmenu {
    from {
        transform: scale(0, 10px);
        opacity: 0;
    }
    to {
        transform: scale(0, 0px);
        opacity: 1;
    }
}

@keyframes check {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transition: ease-in-out;
    }
}


