@keyframes gradualmenu {
    0% {
        transform: translate(0, 10px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes check {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transition: ease-in-out;
    }
}

/* loading */

@keyframes loading {
    100% {
        visibility: hidden;
    }
}

@keyframes sh-0 {
    0%,9%,91%,100% {background: $color-primary}
    10%,90%        {background:#0000}
}
@keyframes sh-1 {
    0%,33%   {clip-path: polygon(0   0,50% 100%,100% 0,100% 100%,0 100%)}
    66%,100% {clip-path: polygon(50% 0,50% 100%,50%  0,100% 100%,0 100%)}
}
@keyframes sh-2 {
    0%,10%,90%,100% {transform: scale(var(--s,1)) translateY(0)}
    33%,66%         {transform: scale(var(--s,1)) translateY(50%)}
}