/* colors */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-grey: rgb(235, 235, 235);
$color-footer: #353535;


/* margins & paddings */
$no-margin: 0px;

/* width */
$width-100: 100%;