button {
    border: transparent;
    border-radius: 25px;
    padding: 0.8rem 1rem;
    margin: 0.2rem 0 1.8rem 0;
    background: linear-gradient(350deg, rgba(147,86,220,1) 45%, rgba(255,121,218,1) 100%);
    box-shadow: 2px 10px 20px -8px rgba(0,0,0,0.48);
    color: white;
}