#explanation {
    margin: 3rem 1rem;
}

.step-container {

    &__click {
        display: flex;
        align-items: center;
        background-color: $color-bg-grey;
        border-radius: 20px;
        margin: 0.5rem 0 1.5rem 0.5rem;
        padding: 0.4rem;
        box-shadow: 2px 10px 20px -8px rgb(0 0 0 / 20%);
    }

    &__number {
        background-color: $color-primary;
        color: white;
        border-radius: 20px;
        padding: 3px 8px;
        margin: 0.5rem 1rem 0.5rem -1rem;
    }

    &__icon {
        color: grey;
        margin-left: 0.5rem;
    }

    &__text {
        color: black;
        font-weight: bold;
    }
}

#restaurants {
    background-color: $color-bg-grey;
    width: $width-100;
    padding-top: 2rem;
}

.restaurants {

    &__title {
        margin-left: 1rem;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
    }

    &__card {
        background-color: white;
        border-radius: 20px;
        margin: 0.8rem 0;
    }

    &__click {

    }

    &__img {

        &__container {

        }
    }
}

img {
    width: $width-100;
}